body {
	background-color: #ec3;
}

.story {
	position: relative;
	top: 0;

	.container__story {
		position: relative;
		width: 80vw;
		height: 100vh;

		margin-inline: auto;

		.headline {
			width: max-content;
			font-size: calc(var(--xx-large-size) * 1.5);
			margin-top: calc(var(--xx-large-size) * 2);
			margin-bottom: calc(var(--xx-large-size) * 2);
			margin-inline: auto;
		}

		.container__storyline {
			width: 100%;
			height: 50vh;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.text {
				font-size: var(--large-size);
				line-height: calc(var(--xx-large-size) * 1.2);
			}
		}
	}
}

.screen_shot {
	margin-bottom: calc(var(--xx-large-size) * 5);

	.container__screen_shot {
		width: 90%;
		height: 100%;
		position: relative;
		margin-inline: auto;
		padding: var(--large-size);

		.screen_shot {
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: flex-start;
			gap: var(--xx-large-size);

			.image__screen_shot {
				width: 60%;
				aspect-ratio: 16 / 9;
				min-width: 375px;
				height: auto;
				position: relative;
				overflow: clip;
				flex: 50% 1 1;
				align-self: center;

				.image--background {
					width: 100%;
					height: 100%;
					background-color: #444;
					position: absolute;
					top: 0;
					left: 0;
				}

				.image--char {
					position: absolute;
					top: 5%;
					height: 110%;
					width: auto;
					object-fit: contain;
				}

				img:nth-child(1 of .image--char) {
					left: 10%;
				}

				img:nth-child(2 of .image--char) {
					right: 10%;
				}

				.dialogue {
					width: 95%;
					height: 40%;
					position: absolute;
					top: 58%;
					left: 50%;
					transform: translateX(-50%);

					background-color: white;
				}
			}

			&:nth-of-type(1) {
				margin-bottom: calc(var(--xx-large-size) * 6);
			}

			&:nth-of-type(2) {
				flex-direction: row-reverse;
			}

			.detail__screen_shot {
				align-self: center;

				.headline {
					font-size: calc(var(--xx-large-size) * 1.2);
					margin-bottom: calc(var(--xx-large-size) * 1.2);
					width: max-content;
					margin-inline: auto;
				}
			}
		}
	}
}
