@charset "UTF-8";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --small-size: 8px;
  --medium-size: 16px;
  --large-size: 24px;
  --x-large-size: 32px;
  --xx-large-size: 40px;

  --header-size: 80px;
  --footer-size: 80vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  top: 0;
  left: 0;

  font-size: 1.6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: var(--header-size);

  .container--header {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    padding: var(--medium-size);
    padding-bottom: var(--small-size);
    background-color: #cccccc;

    &::before {
      content: "";
      width: calc(100vw / 3);
    }

    .logo {
      font-size: 4rem;
      width: max-content;
      justify-items: center;
      align-self: center;
    }

    nav {
      width: calc(100vw / 3);
      justify-items: end;

      ul {
        display: flex;
        gap: 2rem;

        height: 100%;
        align-items: end;
      }
    }
  }
}

.hero {
  position: sticky;
  top: 0;

  width: 100vw;
  height: 400vh;

  z-index: 100;

  .container--hero {
    width: 100%;
    height: 100%;

    .hero_image {
      position: sticky;
      top: 0;
      left: 0;

      width: 100%;
      height: 100vh;

      background-color: #3fddaa;

      &::after {
        content: "";
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translateY(-50%);
        display: block;
        width: 40vw;
        height: 50%;
        background-color: darkred;

        align-items: center;
      }
    }

    .title_section {
      position: absolute;
      top: 25vh;
      left: 10vw;
      z-index: 200;

      width: 40%;
      height: 80%;

      .title_section__title {
        position: sticky;
        top: 10%;
        font-size: calc(var(--xx-large-size) * 3);
      }

      .title_section__release_date {
        position: sticky;
        top: 80%;
        font-size: calc(var(--xx-large-size));
      }
    }
  }
}

.catch {
  --section-height: 600vh;

  position: relative;
  top: 0;
  width: 100vw;
  height: var(--section-height);
  z-index: 300;

  .container--catch {
    width: 100%;
    height: 100%;
  }

  .container--catch__image1 {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) / 4);

    .catch__image1 {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;

      background-color: #224455;

      z-index: 300;

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .catch__image1--text {
      position: absolute;
      top: 50vh;
      font-size: calc(var(--x-large));
      z-index: 300;
    }
  }

  .container--catch__image2 {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) / 4);

    .catch__image2 {
      position: sticky;
      top: 0;
      z-index: 300;

      width: 100%;
      height: 100vh;

      background-color: #ee4455;

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .catch__image2--text {
      position: absolute;
      top: 50vh;
      font-size: calc(var(--x-large));
      z-index: 300;
    }
  }

  .container--catch__image3 {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) / 4);

    .catch__image3 {
      position: sticky;
      top: 0;
      z-index: 300;

      width: 100%;
      height: 100vh;

      background-color: #44ee55;

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .catch__image3--text {
      position: absolute;
      top: 50vh;
      font-size: calc(var(--x-large));
      z-index: 300;
    }
  }

  .container--catch__image4 {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) / 4 + 100vh);

    .catch__image4 {
      position: sticky;
      top: 0;
      z-index: 300;

      width: 100%;
      height: 100vh;

      background-color: #4455ee;

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .catch__image4--text {
      position: absolute;
      top: 50vh;
      font-size: calc(var(--x-large));
      z-index: 300;
    }
  }
}

.visual {
  --section-height: 600vh;

  position: relative;
  top: 0;
  z-index: 500;

  width: 100vw;
  height: var(--section-height);

  .container--visual {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) + 100vh);

    .image--visual {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;

      background-color: #eeaacc;

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .container--visual--text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      .data_text--visual:nth-of-type(1) {
        position: inherit;
        top: calc(100vh * 1);
        left: 10%;
      }

      .data_text--visual:nth-of-type(2) {
        position: inherit;
        top: calc(100vh * 2);
        left: 10%;
        left: 40%;
      }

      .data_text--visual:nth-of-type(3) {
        position: inherit;
        top: calc(100vh * 3);
        left: 70%;
      }

      .data_text--visual:nth-of-type(4) {
        position: inherit;
        top: calc(100vh * 4);
        left: 50%;
      }
    }
  }
}

@keyframes rotate_anim {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.information {
  --section-height: 600vh;

  position: relative;
  top: 0;
  z-index: 600;

  width: 100vw;
  height: var(--section-height);

  .container--information {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(var(--section-height) + var(--footer-size));

    .image--information {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;

      background-color: #7738f5;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 35%;
        left: 15%;
        transform: translateX(-50%);
        width: 300px;
        height: 300px;
        background-color: #23fa92;
        z-index: 1000;
        animation: rotate_anim 5s linear infinite;
      }

      &::after {
        content: "BACK GROUND";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: calc(var(--xx-large-size) * 2);
      }
    }

    .container--information--text {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;

      .data_text--information:nth-of-type(1) {
        position: inherit;
        top: calc(100vh * 1);
        left: 10%;
      }

      .data_text--information:nth-of-type(2) {
        position: inherit;
        top: calc(100vh * 2);
        left: 10%;
        left: 40%;
      }

      .data_text--information:nth-of-type(3) {
        position: inherit;
        top: calc(100vh * 3);
        left: 70%;
      }

      .data_text--information:nth-of-type(4) {
        position: inherit;
        top: calc(100vh * 4);
        left: 50%;
      }
    }
  }
}

@keyframes scroll_logo {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * 100% - 16rem));
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 99999;
  width: 100vw;
  height: var(--footer-size);
  background-color: #223344;
  padding-top: var(--large-size);

  .container--title_logo {
    display: flex;
    gap: 16rem;
    overflow-x: hidden;

    .title_logo {
      font-size: calc(var(--xx-large-size) * 5);
      text-align: center;
      width: 100%;
      white-space: nowrap;
      animation: scroll_logo 5s linear infinite;
    }
  }

  .container--index {
    display: flex;
    gap: var(--xx-large-size);
    width: 80%;
    height: 35%;
    margin-inline: auto;
    margin-block: var(--large-size);

    .details {
      display: flex;
      flex-direction: column;
      gap: var(--medium-size);
      width: 50%;

      .details--summary {
        display: block;
        list-style: none;

        &:is(::-webkit-details-marker) {
          display: none;
        }
      }

      .details--item {
        font-size: 1.8rem;
      }
    }

    .sns_link {
      display: flex;
      gap: var(--large-size);
      width: 50%;

      font-size: var(--xx-large-size);
    }
  }

  .copyright {
    display: block;
    text-align: center;
    padding-bottom: var(--small-size);
  }
}
