@charset "UTF-8";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
	--small-size: 8px;
	--medium-size: 16px;
	--large-size: 24px;
	--x-large-size: 32px;
	--xx-large-size: 40px;

	--header-size: 120px;
	--footer-size: 80vh;
	/* breakpoint-smartphone: 600px */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	position: relative;
	top: 0;
	left: 0;

	font-size: 1.6rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;

	width: 100%;
	height: var(--header-size);

	.container--header {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: inherit;
		height: inherit;
		padding: var(--medium-size);
		padding-bottom: var(--small-size);
		background-color: #cccccc;

		&::before {
			content: "";
			width: calc(100vw / 3);
		}

		.logo {
			font-size: 8rem;
			width: max-content;
			justify-items: center;
			align-self: center;

			@media (width < 600px) {
				font-size: 6rem;
			}
		}

		.nav {
			width: calc(100vw / 3);
			justify-items: end;

			.btn--menu {
				opacity: 0;
				visibility: hidden;

				@media (width < 600px) {
					opacity: 1;
					visibility: visible;
					z-index: 999999;

					position: absolute;
					top: 50%;
					right: var(--large-size);
					transform: translateY(-50%);

					display: block;
					width: 80px;
					height: 80px;
					border: 1px solid black;
					background-color: white;

					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 35%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 60%;
						height: 1px;
						border: 2px solid black;
						margin-inline: auto;
					}

					&::after {
						top: 65%;
					}
				}
			}

			ul {
				display: flex;
				gap: clamp(1rem, 1vw, 3rem);

				width: 100%;
				height: 100%;
				align-items: end;
				justify-content: space-between;

				@media (width < 600px) {
					opacity: 0;
					visibility: hidden;

					&.on {
						opacity: 1;
						visibility: visible;
						z-index: 99999;
						gap: 2.4rem;

						width: max-content;
						height: max-content;
						flex-direction: column;
						padding: var(--xx-large-size);
						padding-block: calc(var(--xx-large-size) * 4);

						&::before {
							content: "";
							position: fixed;
							top: var(--small-size);
							right: var(--small-size);

							width: 80vw;
							height: 95vh;
							background-color: whitesmoke;
							border-radius: 5px;
						}

						&::after {
							content: "";
							display: block;
							position: fixed;
							top: calc(var(--small-size) * 2);
							right: calc(var(--small-size) * 2);
							width: calc(80vw - calc(var(--small-size) * 2 + 1px));
							height: calc(95vh - calc(var(--small-size) * 2 + 1px));
							border: 1px solid black;
							border-radius: 5px;
						}
					}
				}

				.nav--item {
					font-size: 1.8rem;

					@media (width < 600px) {
						position: initial;
						z-index: 99999;

						font-size: 3.2rem;
					}
				}
			}

			.container--sns {
				display: none;
				visibility: hidden;

				&.on {
					@media (width < 600px) {
						display: flex;
						visibility: visible;
						width: 100%;
						justify-content: end;

						gap: 3.2rem;
						padding: var(--xx-large-size);
					}

					.sns--item {
						font-size: 4.8rem;
						z-index: 99999;
					}
				}
			}
		}
	}
}

.hero {
	.container__section--hero {
		position: relative;
		top: 0;

		--element-count: 3;
		--content-height: calc(100vh * var(--element-count));
		width: 100vw;
		height: var(--content-height);

		z-index: 100;

		.container--img {
			position: sticky;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;

			background-color: #3fddaa;

			.hero_image {
				position: absolute;
				top: 50vh;
				left: 50%;
				transform: translateY(-50%);
				width: 40vw;
				height: 50%;
				background-color: darkgray;

				&::after {
					content: "NOW PRINTING...";
					font-size: var(--xx-large-size);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					@media (width < 600px) {
						width: 100vw;
						height: 100vh;
						top: 0;
						left: 0;
						transform: translateY(0);
					}
				}
			}
		}

		.title_section {
			position: absolute;
			top: 0;
			left: 5vw;
			z-index: 200;

			width: 45vw;
			height: calc(var(--content-height) + 50vh);

			.title--title_section {
				position: sticky;
				top: 0;
				height: max-content;
				font-size: calc(var(--xx-large-size) * 3);

				&::before {
					content: "";
					display: block;
					position: sticky;
					top: 0;
					height: 25vh;
				}

				&::after {
					content: "";
					display: block;
					position: sticky;
					top: 0;
					height: 50vh;
				}
			}

			.release_date--title_section {
				position: sticky;
				top: 0;
				height: max-content;
				font-size: calc(var(--xx-large-size) * 1.3);

				&::before {
					content: "";
					display: block;
					position: sticky;
					top: 0;
					height: 70vh;
				}
			}
		}
	}
}

@keyframes fade_anim_from_right {
	from {
		transform: translate(100%, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes fade_anim_from_left {
	from {
		transform: translate(-100%, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes fade_text_from_right {
	from {
		transform: translate(100%, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes fade_text_from_left {
	from {
		transform: translate(-100%, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

.catch {
	--element-count: 4;
	--section-height: 600vh;

	position: relative;
	top: 0;
	width: 100vw;
	height: var(--section-height);
	z-index: 300;

	.container--catch {
		position: sticky;
		top: 0;
		width: 100%;
		height: calc(var(--section-height) + 100vh);
	}

	.container--catch__image {
		position: sticky;
		top: 0;
		width: 100%;
		height: calc(var(--section-height) / var(--element-count));
		overflow: clip;

		.catch__image {
			position: absolute;
			width: 100%;
			height: 100vh;

			object-fit: cover;

			z-index: 300;

			&::after {
				content: "BACK GROUND";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: calc(var(--xx-large-size) * 2);
			}
		}

		.catch__image--text {
			position: absolute;
			font-size: calc(var(--xx-large-size) * 3);
			z-index: 300;

			padding: calc(var(--xx-large-size) * 2);
			border: 10px solid #333;
			border-radius: 50%;
			background-color: #fff;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 90%;
				left: 50%;
				background-color: inherit;
				border: inherit;
				width: 0;
				height: 25%;
				transform: translate(-50%, -5%) rotate(-30deg);
				z-index: -1;
			}
		}
	}

	.container--catch__image:nth-of-type(1) {
		background-color: #245;

		.catch__image {
			top: 0;
			left: 10%;
			animation: fade_anim_from_right ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;
		}

		.catch__image--text {
			top: 10%;
			left: 5%;
			animation: fade_text_from_left ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;
		}
	}

	.container--catch__image:nth-of-type(2) {
		background-color: #e45;

		.catch__image {
			top: 0;
			right: 10%;
			animation: fade_anim_from_left ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;
		}

		.catch__image--text {
			top: 25%;
			right: 5%;
			font-size: calc(var(--xx-large-size) * 1.6);
			animation: fade_text_from_right ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;

			&::before {
				top: 50%;
				left: -3%;
				transform: translate(-50%, -50%) rotate(75deg);
			}
		}
	}

	.container--catch__image:nth-of-type(3) {
		background-color: #4e5;

		.catch__image {
			top: 0;
			left: 10%;
			animation: fade_anim_from_right ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;
		}

		.catch__image--text {
			top: 30%;
			left: 5%;
			animation: fade_text_from_left ease;
			animation-timeline: view();
			animation-range: contain -50% contain 50%;

			&::before {
				top: 52%;
				left: 105%;
				transform: translate(-50%, -50%) rotate(105deg);
			}
		}
	}

	.container--catch__image:nth-of-type(4) {
		background-color: #45e;

		.catch__image {
			top: 0;
			left: -10%;
			animation: fade_anim_from_left ease;
			animation-timeline: view();
			animation-range: contain -100% contain 50%;
		}

		.catch__image--text {
			top: 10%;
			right: 5%;
			font-size: calc(var(--xx-large-size) * 1.6);
			animation: fade_text_from_right ease;
			animation-timeline: view();
			animation-range: contain -50% contain 150%;

			&::before {
				left: 45%;
				transform: translate(-50%, -5%) rotate(30deg);
			}
		}
	}
}

@keyframes fade_opacity {

	0%,
	100% {
		opacity: 0;
		visibility: hidden;
	}

	20%,
	80% {
		opacity: 1;
		visibility: visible;
	}
}

.visual {
	--section-height: 600vh;
	--element-count: 4;

	position: relative;
	top: 0;
	z-index: 500;

	width: 100vw;
	height: var(--section-height);

	.container--visual {
		position: sticky;
		top: 0;
		width: 100%;
		height: calc(var(--section-height) + 100vh);

		.image--visual {
			position: sticky;
			top: 0;
			width: 100%;
			height: 100vh;

			background-color: #eeaacc;

			&::after {
				content: "BACK GROUND";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: calc(var(--xx-large-size) * 2);
			}
		}

		.container--visual--text {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;

			.display__text_element {
				position: sticky;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(var(--section-height) / var(--element-count));

				.data_text {
					position: sticky;
					top: 0;
					width: max-content;
					margin-inline: 10vw;

					opacity: 0;

					font-size: var(--x-large-size);
					animation: fade_opacity ease forwards;
					animation-timeline: view();
					animation-range: contain 10% contain 100%;

					&::before {
						content: "";
						display: block;
						position: sticky;
					}
				}
			}

			.display__text_element:nth-of-type(1) {
				.data_text {
					left: 10vw;

					&::before {
						height: 30vh;
					}
				}
			}

			.display__text_element:nth-of-type(2) {
				.data_text {
					left: 40vw;

					&::before {
						height: 60vh;
					}
				}
			}

			.display__text_element:nth-of-type(3) {
				.data_text {
					margin-left: auto;

					&::before {
						height: 40vh;
					}
				}
			}

			.display__text_element:nth-of-type(4) {
				.data_text {
					left: 50vw;

					&::before {
						height: 50vh;
					}
				}
			}
		}
	}
}

@keyframes rotate_anim {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade_slide {
	0% {
		opacity: 0;
		visibility: hidden;

		transform: translateX(100%);
	}

	20%,
	80% {
		opacity: 1;
		visibility: visible;

		transform: translateX(0);
	}

	100% {
		opacity: 0;
		visibility: hidden;

		transform: translateX(-20%);
	}
}

.information {
	--section-height: 600vh;
	--element-count: 4;

	position: relative;
	top: 0;
	z-index: 600;

	width: 100vw;
	height: var(--section-height);

	.container--information {
		position: sticky;
		top: 0;
		width: 100%;
		height: calc(var(--section-height) + var(--footer-size));

		.image--information {
			position: sticky;
			top: 0;
			width: 100%;
			height: 100vh;

			background-color: #7738f5;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 35%;
				left: 15%;
				transform: translateX(-50%);
				width: 300px;
				height: 300px;
				background-color: #23fa92;
				z-index: 1000;
				animation: rotate_anim 5s linear infinite;

				@media (width < 600px) {
					top: 40%;
					left: 20%;
					transform: translateX(-50%);
				}
			}

			&::after {
				content: "BACK GROUND";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: calc(var(--xx-large-size) * 2);
			}
		}

		.container--information--text {
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			height: 100%;

			.display__text_element {
				position: sticky;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(var(--section-height) / var(--element-count));

				.data_text {
					position: sticky;
					top: 0;
					width: max-content;
					margin-right: 10vw;
					overflow-x: clip;

					opacity: 0;

					font-size: var(--x-large-size);
					animation: fade_slide ease forwards;
					animation-timeline: view();
					animation-range: contain 10% contain 100%;

					&::before {
						content: "";
						display: block;
						position: sticky;
					}
				}
			}

			.display__text_element:nth-of-type(1) {
				.data_text {
					margin-left: 10%;

					&::before {
						height: 40vh;
					}
				}
			}

			.display__text_element:nth-of-type(2) {
				.data_text {
					top: 50vh;
					margin-left: 40%;

					&::before {
						height: 0;
					}
				}
			}

			.display__text_element:nth-of-type(3) {
				.data_text {
					top: 60vh;
					margin-left: 0;

					&::before {
						height: 0;
					}
				}
			}

			.display__text_element:nth-of-type(4) {
				.data_text {
					top: 50vh;
					margin-left: 50%;
					animation-range: contain 20% contain 70%;

					&::before {
						height: 0;
					}
				}
			}
		}
	}
}

@keyframes scroll_logo {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-1 * 100% - 16rem));
	}
}

.footer {
	position: sticky;
	bottom: 0;
	z-index: 9999;
	width: 100vw;
	height: var(--footer-size);
	background-color: #223344;
	padding-top: var(--large-size);
	overflow-x: hidden;

	.container--title_logo {
		display: flex;
		gap: 16rem;
		width: max-content;

		.title_logo {
			font-size: calc(var(--xx-large-size) * 5);
			text-align: center;
			width: 100%;
			white-space: nowrap;
			animation: scroll_logo 5s linear infinite;
		}
	}

	.container--index {
		display: flex;
		gap: var(--xx-large-size);
		width: 80%;
		height: 35%;
		margin-inline: auto;
		margin-block: var(--large-size);

		.details {
			display: flex;
			flex-direction: column;
			gap: var(--medium-size);
			width: 50%;

			.details--summary {
				display: block;
				list-style: none;

				&:is(::-webkit-details-marker) {
					display: none;
				}
			}

			.details--item {
				font-size: 1.8rem;
			}
		}

		.sns_link {
			display: flex;
			gap: var(--large-size);
			width: 50%;
			height: max-content;

			font-size: 4.8rem;
		}
	}

	.copyright {
		display: block;
		text-align: center;
		padding-bottom: var(--small-size);
	}
}
